[project]
	description = LSLForge - maintaining recent LSL definitions fork
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Claudio Pacchiega (pakkio)
[access "refs/for/refs/*"]
	read = group user/Claudio Pacchiega (pakkio)
	push = group user/Claudio Pacchiega (pakkio)
	label-Code-Review = -2..+2 group user/Claudio Pacchiega (pakkio)
	label-Verified = -1..+1 group user/Claudio Pacchiega (pakkio)
	rebase = group user/Claudio Pacchiega (pakkio)
	removeReviewer = group user/Claudio Pacchiega (pakkio)
	submit = group user/Claudio Pacchiega (pakkio)
[access "refs/heads/*"]
	read = group user/Claudio Pacchiega (pakkio)
	create = group user/Claudio Pacchiega (pakkio)
	push = +force group user/Claudio Pacchiega (pakkio)
	pushMerge = group user/Claudio Pacchiega (pakkio)
[access "refs/tags/*"]
	push = group user/Claudio Pacchiega (pakkio)
	push = +force group user/Claudio Pacchiega (pakkio)
